/* Google Fonts - Poppins */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"); */
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


html {
  scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

body {
  font-family: 'Poppins', sans-serif;
  /* cursor: none; */
  min-height: 100%;
  background-color: white;
  /* background: #e3f2fd; */
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}
.logo .menu-icon {
  color: #333;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
  background-color: #4070f4;
  padding: 1rem;
  border-radius: 50%;
  color: #fff;
  margin-top: 5;
}

nav .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}
nav.open .sidebar {
  left: 0;
}
.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 3px 16px;
}
.sidebar-content .list {
  list-style: none;
}
.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 10px 10px;
  border-radius: 8px;
  text-decoration: none;
}
.lists .nav-link:hover {
  background-color: #4070f4;
}
.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}
.nav-link .link {
  font-size: 16px;
  color: #707070;
  font-weight: 400;
}
.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
  color: #fff;
}
.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}
nav.open ~ .overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}


/*  */
.profile {
  text-align: center; 
}

.profile img {
  width: 190px;
  height: 180px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.profile .name{
  font-size: 20px;
  font-weight: bold;
}

.profile .name{
  font-size: 20px;
  font-weight: bold;
}


.footer {
  display: flex;
  flex-wrap: wrap;
}
.footer .fa-github{
  color: #333;
}
.footer .fa-facebook{
  color: #4070f4;
}

.footer a{
  margin-right: 1.5rem;
}
.footer i {
  font-size: 2.5rem;
  position: relative;
  left: 1rem;
  top: .7rem;
  color: #4070f4;
}
.footer i:hover {
  color: #fff;
  padding: .2rem;
  transition: all 0.2s ease;
  border-radius: 50%;
  background-color: rgba(0,172,238,1);
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-3 {
  background: rgb(0,172,238);
background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  width: 200px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover{
   background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover{
   color: rgba(2,126,251,1);
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
   background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}

  #footer .footerSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 0;
    background: radial-gradient(at top left, #020c27, #0234bf);
  }
  #footer .footerBlock{
    background: radial-gradient(at top left, #020c27, #0234bf);
  }

  #footer h5{
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    height: 40px;
  }
  #footer .footerSection h3{
    color: white;
    font-size: 25px;
  } 

  #footer .footerSection, .myContactSection p{
    color: white;
  } 

  #footer .myContactSection .phone{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  #footer .myContactSection .email{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e3f2fd;
  }
  
  .desktop-section .my-profile-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    width: 100%; 
  }
  .desktop-section .profile-content h1 {
    font-size: 50px;
    color: #081e5a;
    font-weight: bolder;
    margin-top: 50px;
  }
  .desktop-section .profile-content .name {
    font-size: 35px;
    color: #081e5a;
    font-weight: bolder;
  }
  
  .desktop-section .profile-content .surname {
    font-size: 40px;
    color: #ff4d00;
    font-weight: bolder;
  }

  .desktop-section .profile-img img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
  }
  
  .desktop-section .profile-img img:hover{
    transform: scale(1.1);
    transition: all 0.4s ease;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2 );
  }
  .custom-btn a{
    text-decoration: none;
  }
  
  .btn-7 {
    background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
      line-height: 42px;
      padding: 0;
      border: none;
      border-radius: 30px;
      margin-top: 10px;
    }

    .btn-7 span {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
    }
    .btn-7:before,
    .btn-7:after {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      background: rgba(251,75,2,1);
      box-shadow:
       -7px -7px 20px 0px rgba(255,255,255,.9),
       -4px -4px 5px 0px rgba(255,255,255,.9),
       7px 7px 20px 0px rgba(0,0,0,.2),
       4px 4px 5px 0px rgba(0,0,0,.3);
      transition: all 0.3s ease;
      border-radius: 30px;

    }
    .btn-7:before{
       height: 0%;
       width: 2px;
    }
    .btn-7:after {
      width: 0%;
      height: 2px;
    }
    .btn-7:hover{
      color: rgba(251,75,2,1);
      background: transparent;
      border-radius: 30px;

    }
    .btn-7:hover:before {
      height: 100%;
    }
    .btn-7:hover:after {
      width: 100%;
    }
    .btn-7 span:before,
    .btn-7 span:after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      background: rgba(251,75,2,1);
      box-shadow:
       -7px -7px 20px 0px rgba(255,255,255,.9),
       -4px -4px 5px 0px rgba(255,255,255,.9),
       7px 7px 20px 0px rgba(0,0,0,.2),
       4px 4px 5px 0px rgba(0,0,0,.3);
      transition: all 0.3s ease;
      border-radius: 30px;
    }
    .btn-7 span:before {
      width: 2px;
      height: 0%;
    }
    .btn-7 span:after {
      height: 2px;
      width: 0%;
    }
    .btn-7 span:hover:before {
      height: 100%;
    }
    .btn-7 span:hover:after {
      width: 100%;
    }
  

    .social-links{
      margin-top: 25px;
    }
    .desktop-section .social-links a{
      text-decoration: none;
      margin-right: 7px;
    }
    .desktop-section .social-links a i{
      padding: 10px;
      font-size: 25px;
      background: black;
      color: aqua;
      border-radius: 5px;
    }

    .container{
      width: 400px;
      overflow: hidden;
  }
  .container .text{
      position: relative;
      color: #ff4d00;
      font-size: 30px;
      font-weight: 600;
  }
  .container .text.first-text{
      color: #081e5a;
  }
  .text.sec-text:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #e3f2fd;
      border-left: 3px solid #081e5a;
      animation: animate 4s steps(12) infinite;
  }
  @keyframes animate{
      40%, 60%{
          left: calc(100% + 4px);
      }
      100%{
          left: 0%;
      }
    }
  
    .desktop-section #about {
      top: 750px;
      position: relative;
      }
      .desktop-section #about h2{
        text-align: center;
        font-size: 50px;
        color: #081e5a;
        font-weight: bolder;
      }
      .desktop-section #about span{
        color:#ff4d00;
      }
    
    .desktop-section .my-details h3{
      color: #081e5a;
      margin-bottom: 10px;
    }
    .desktop-section .about-me {
      padding-left: 100px;
      margin-top: 30px;
      display: flex;
      justify-content: center;
      gap: 2rem;
    }
    .desktop-section img{
      border-radius: 5px;
    }
    .content-container {
      display: flex;
      align-items: center;
    }
    
    #about .about-me img {
      max-width: 300px; 
      margin-right: 20px; 
    }
  
    .desktop-section .about-me .my-details a{
      text-decoration: none;
      font-size: 30px;
      color: #081e5a;
      font-weight: bolder;
    }
  
    .desktop-section #about .my-details span{
      text-align: center;
      font-size: 15px;
      color: #081e5a;
      font-weight: bolder;
    }
    .desktop-section #about .my-details .email{
      color:#ff4d00;
    }
    .desktop-section #about .my-details .place{
      color:#ff4d00;
    }
  
    .desktop-section #about .my-details p{
      width: 68%;
      font-size: 15px;
      color: #081e5a;
      font-weight: bolder;
      margin-bottom: 10px;
    }
    .btn-14 {
      margin-top: 25px;
      background: #081e5a;
      border: none;
      z-index: 1;
    }
    .btn-14:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 0;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 5px;
      background-color: #ff4d00;
      background-image: linear-gradient(315deg, #ff4d00 0%, #ff4d00 74%);
       box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5)
       7px 7px 20px 0px rgba(0,0,0,.1),
       4px 4px 5px 0px rgba(0,0,0,.1);
      transition: all 0.3s ease;
    }
    .btn-14:hover {
      color: #000;
    }
    .btn-14:hover:after {
      top: auto;
      bottom: 0;
      height: 100%;
    }
    .btn-14:active {
      top: 2px;
    }
      
    .desktop-section #skills {
      /* height: 300px; */
      background: radial-gradient(at top left, #020c27, #0234bf);
    }
    .desktop-section #skills h2{
      margin-top: 70px;
      text-align: center;
      font-size: 50px;
      color:white;
      font-weight: bolder;
    }
    .desktop-section #skills span{
      color:#ff4d00;
    }
    .desktop-section #skills .center-skills{
      display: flex;
      justify-content: center;
      gap:1rem;
      margin-top: 20px;
     
    }
    .desktop-section #skills .skill-container{
      margin: 0 10px;
      /* width: 15rem; */
      height: 78px;
      background: #020c27;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      gap: 1rem;
    }
    .desktop-section #skills .skill-container img{
      width: 60px;
    }
    .desktop-section #skills .skill-container p{
      color: white;
    }
    .spacer{
      height: 20px;
    }

    .desktop-section #education{
      margin-top: 30px;
    }
    .desktop-section #education p{
      text-align: center;
    }
    .desktop-section #education .education-section{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
      margin-top: 20px;
    }
  
    .desktop-section #education .education-section .box{
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      display: flex;
      padding: 15px 50px;
      border-radius: 5px ;
    }
  
    .desktop-section #education .education-section img{
      margin-right: 20px;
      height: 100px;
    }
    .desktop-section #education .education-section .edu-descption{
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
    }
    .desktop-section #education .education-section .edu-descption .collage-name {
      color: #081e5a;
      font-size: 20px;
      font-weight: bolder;
      margin-bottom: 5px;
    }
    .desktop-section #education .education-section .edu-descption .year {
      color: green;
      font-size: 17px;
      font-weight: bolder;
      margin-top: 5px;
    }
    .desktop-section #projects{
      margin-top: 30px;
    }
    .space{
      height: 100px;
    }
  
    .desktop-section #projects .projectSection{
      margin: 0 10px;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: center;
      gap: 10px;
    }  
    .desktop-section #projects .projectCard{
      cursor: pointer;
      flex: 1;
      min-width: calc(33.33% - 20px); 
      box-sizing: border-box;
      border-radius: 5px;
      padding: 10px 20px;
      background: radial-gradient(at top left, #020c27, #0234bf);
    }
    .desktop-section #projects .projectCard:hover{
      scale: 1.09;
      transition: all 0.9s ease;
    }
    .desktop-section #projects .projectCard {
      text-decoration: none;
    }
    .desktop-section #projects .projectCard h3{
      font-size: 30px;
      color: white;
      margin: 10px 0;
    }
    .desktop-section #projects .projectCard p{
      color: white;
      font-size: 15px;
    }
    .desktop-section #projects .projectSection .projectCard img{
      width: 100px;
    }
    .desktop-section #achievement {
      margin-top: 30px;
    }
    .desktop-section #achievement .achievementSection {
      margin: 0 10px;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: center;
      gap: 10px;
      margin: 0 100px;
    }
    .desktop-section #achievement .achievementBlock {
      display: flex;
      flex-direction: row;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      padding: 10px;
      border-radius: 5px;
      flex: 1;
      min-width: calc(50% - 20px); 
    }
    .desktop-section #achievement .achievementBlock img {
      width: 50px;
      margin-right: 10px;
    } 
  
/* Media Queries Section Start */


@media only screen and (min-width: 750px) and (max-width: 1000px) {
  .desktop-nav-bar {
    display: none;
  }
  #me{
    display: none;
  }
   
  .desktop-section .about-me {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .desktop-section .my-details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .desktop-section #skills .center-skills{
    justify-content: center;
    flex-direction: column;
  }
  .desktop-section #education .education-section{
    flex-direction: column;
  }
  .desktop-section #projects .projectSection{
    flex-direction: column;
  }  
  .desktop-section #projects .projectCard:hover{
    scale: 1.0;
    transition: all 0.9s ease;
  }
  .desktop-section #achievement .achievementSection {
    flex-direction: column;
    }
    .desktop-section #achievement .achievementBlock {
      align-items: center;
    }
}

@media only screen and (min-width: 0px) and (max-width: 750px) {
  .desktop-nav-bar {
    display: none;
  }

  
  .desktop-section .my-profile-section {
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding-bottom: 20px;
  }
  .profile-img{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #particles-js{
    display: none;
  }
  .desktop-section .about-me {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    padding-left: 0px;
    align-items: center;
    margin-top: 0px;
  }
  .desktop-section .my-details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .desktop-section #skills .center-skills{
    justify-content: center;
    flex-direction: column;
  }
  .desktop-section #education .education-section{
    flex-direction: column;
  }
  .desktop-section #projects .projectSection{
    flex-direction: column;
  }  
  .desktop-section #projects .projectCard:hover{
    scale: 1.0;
    transition: all 0.9s ease;
  }
  .desktop-section #achievement .achievementSection {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .desktop-section #achievement .achievementSection {
    margin: 0px 10px;
  }
  #footer .footerSection{
    margin: 0px 10px;
    flex-direction: column;
  }
  #footer .myContactSection{
    margin-top: 20px;
  }
  .desktop-section #education .education-section .box{
    flex-direction: column;
    align-items: center;
  }
  .desktop-section #education .education-section .box img{
    width: 100px;
  }
  .desktop-section #education .education-section .box .edu-descption{
    display: flex;
    justify-content: center;
    align-items: center;
  }
   
  #about .about-me img {
    width: 100%; 
    margin-right: 0px; 
  }
#home{
  display: none;
}
.desktop-section #about {
  position: static;
}
.description{
  text-align: center;
}
.my-profile{
  margin-top: 20px;
  text-align: center;
}

.my-profile img{
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
}
.profile-content{
  margin-left: 10px;
}

  .my-profile-section{
    margin: 0px 0px 0px 10px;
  }
  
.desktop-section .profile-content .name {
  font-size: 1.23rem;
}
.desktop-section .profile-content .surname {
  font-size: 1.23rem;
}
.desktop-section .profile-content h1 {
  font-size: 1.23rem;
}

.desktop-section .text{
  font-size: 1.23rem;
  color: #ff4d00;
  font-weight: bolder;
}
.pp{
  display: flex;
  justify-content: center;
  align-items: center;
}
#achievement h2{
  font-size: 1.8rem;
}
#achievement .achievementTag{
  font-size: 1.8rem;
}

#achievement .achievementTag{
  font-size: 1.8rem;
}

#projects .achievementTag{
  font-size: 1.8rem;
}
#projects h2{
  font-size: 1rem;
}

#education .achievementTag{
  font-size: 1.8rem;
}
#education h2{
  font-size: 1rem;
}

#skills .achievementTag{
  font-size: 1.8rem;
}
#skills h2{
  font-size: 1.8rem;
}

#about .achievementTag{
  font-size: 1.8rem;
}

#about h2{
  font-size: 1.8rem;
}
}

@media only screen and (min-width: 1000px) {

  #me{
    display: none;
  }
  nav {
    display: none;
  }
  .desktop-nav-bar{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content:space-between;
    padding: 20px 70px 20px 70px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  .desktop-nav-bar p{
    font-weight: bolder;
  }

  .desktop-nav-bar ul {
    list-style: none;
    display: flex;
    gap: 25px;
  }
  .desktop-nav-bar ul li a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
  }
  .desktop-nav-bar ul li a:hover{
    color: blue;
    border-bottom: 2px solid blue;  
  }

}


