/* Google Fonts - Poppins */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"); */
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


html {
  scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

body {
  font-family: 'Poppins', sans-serif;
  /* cursor: none; */
  min-height: 100%;
  background-color: white;
  /* background: #e3f2fd; */
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}
.logo .menu-icon {
  color: #333;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
  background-color: #4070f4;
  padding: 1rem;
  border-radius: 50%;
  color: #fff;
  margin-top: 5;
}

nav .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}
nav.open .sidebar {
  left: 0;
}
.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 3px 16px;
}
.sidebar-content .list {
  list-style: none;
}
.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 10px 10px;
  border-radius: 8px;
  text-decoration: none;
}
.lists .nav-link:hover {
  background-color: #4070f4;
}
.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}
.nav-link .link {
  font-size: 16px;
  color: #707070;
  font-weight: 400;
}
.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
  color: #fff;
}
.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}
nav.open ~ .overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}


/*  */
.profile {
  text-align: center; 
}

.profile img {
  width: 190px;
  height: 180px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.profile .name{
  font-size: 20px;
  font-weight: bold;
}

.profile .name{
  font-size: 20px;
  font-weight: bold;
}


.footer {
  display: flex;
  flex-wrap: wrap;
}
.footer .fa-github{
  color: #333;
}
.footer .fa-facebook{
  color: #4070f4;
}

.footer a{
  margin-right: 1.5rem;
}
.footer i {
  font-size: 2.5rem;
  position: relative;
  left: 1rem;
  top: .7rem;
  color: #4070f4;
}
.footer i:hover {
  color: #fff;
  padding: .2rem;
  transition: all 0.2s ease;
  border-radius: 50%;
  background-color: rgba(0,172,238,1);
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-3 {
  background: rgb(0,172,238);
background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  width: 200px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover{
   background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover{
   color: rgba(2,126,251,1);
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
   background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}

/* Cursor Section Start */
.cursor{
  z-index: 999;
  position: fixed;
  /* border: 1px solid #4070f4;  */
  background: #4070f4;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 20px #4070f4
              0 0 60px #4070f4
              0 0 100px #4070f4;
  animation: colors 5s infinite;
  transform: translate(-50%,-50%);
  display: none;
}

@keyframes colors {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
  
}

.cursor::before{
  content: '';
  position: absolute;
  background: #4070f4;
  width: 50px;
  height: 50px;
  opacity: 0.2;
  transform: translate(-30%, -30%);
  border-radius: 50%;
}

/* Cursor Section End */



/* Media Queries Section Start */
@media only screen and (max-width: 600px) {
  .desktop-nav-bar {
    display: none;
  }
  .desktop-section{
    display: none;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .desktop-nav-bar {
    display: none;
  }
  .desktop-section{
    display: none;
  }
  
}

@media only screen and (min-width: 1000px) {
  nav {
    display: none;
  }

  .desktop-nav-bar{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content:space-between;
    padding: 20px 70px 20px 70px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  .desktop-nav-bar p{
    font-weight: bolder;
  }

  .desktop-nav-bar ul {
    list-style: none;
    display: flex;
    gap: 25px;
  }
  .desktop-nav-bar ul li a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
  }
  .desktop-nav-bar ul li a:hover{
    color: blue;
    border-bottom: 2px solid blue;  
  }

  /*  */

  #particles-js {
    position: absolute;
    width: 100%;
    height: 90%;
    background: #e3f2fd;
  }
  
  .desktop-section .my-profile-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    width: 100%; 
  }
  
  
  .desktop-section .profile-content h1 {
    font-size: 50px;
    color: #081e5a;
    font-weight: bolder;
    margin-top: 50px;
  }
  .desktop-section .profile-content .name {
    font-size: 35px;
    color: #081e5a;
    font-weight: bolder;
  }
  
  .desktop-section .profile-content .surname {
    font-size: 40px;
    color: #ff4d00;
    font-weight: bolder;
  }

  .desktop-section .profile-content p {
    font-size: 25px;
    color: #081e5a;
    font-weight: bolder;
  }

  .desktop-section .profile-img img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
  }
  
  .desktop-section .profile-img img:hover{
    transform: scale(1.1);
    transition: all 0.4s ease;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2 );
  }

  .btn-7 {
    background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
      line-height: 42px;
      padding: 0;
      border: none;
      border-radius: 30px;
      margin-top: 10px;
    }

    .btn-7 span {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
    }
    .btn-7:before,
    .btn-7:after {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      background: rgba(251,75,2,1);
      box-shadow:
       -7px -7px 20px 0px rgba(255,255,255,.9),
       -4px -4px 5px 0px rgba(255,255,255,.9),
       7px 7px 20px 0px rgba(0,0,0,.2),
       4px 4px 5px 0px rgba(0,0,0,.3);
      transition: all 0.3s ease;
      border-radius: 30px;

    }
    .btn-7:before{
       height: 0%;
       width: 2px;
    }
    .btn-7:after {
      width: 0%;
      height: 2px;
    }
    .btn-7:hover{
      color: rgba(251,75,2,1);
      background: transparent;
      border-radius: 30px;

    }
    .btn-7:hover:before {
      height: 100%;
    }
    .btn-7:hover:after {
      width: 100%;
    }
    .btn-7 span:before,
    .btn-7 span:after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      background: rgba(251,75,2,1);
      box-shadow:
       -7px -7px 20px 0px rgba(255,255,255,.9),
       -4px -4px 5px 0px rgba(255,255,255,.9),
       7px 7px 20px 0px rgba(0,0,0,.2),
       4px 4px 5px 0px rgba(0,0,0,.3);
      transition: all 0.3s ease;
      border-radius: 30px;
    }
    .btn-7 span:before {
      width: 2px;
      height: 0%;
    }
    .btn-7 span:after {
      height: 2px;
      width: 0%;
    }
    .btn-7 span:hover:before {
      height: 100%;
    }
    .btn-7 span:hover:after {
      width: 100%;
    }
    #about {
      top: 700px;
      position: relative;
      z-index: 2000;
    }
 
}


